{{yield}}

<div class="container">
  <span><b>Posted by:</b> {{post.username}} <span style="padding-left:24px;">Edit</span></span>
</div>
<div class="well">
  <div class="row" style="text-align:left;">
    <p>{{post.content}}</p>
  </div>
</div>
