{{outlet}}

<div class="container">
  <div class="row">
    <h1 style='text-align:center;'>Contact</h1>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="well">
        <div class="row" style="padding-top:12px;">
          <label for="basic-url">Your Username</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">U</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
          </div>
        </div>

        <div class="row" style="padding-top:12px;">
          <label for="basic-url">Your email</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="example" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">@example.com</span>
          </div>
        </div>

        <div class="row" style="padding-top:12px;">
          <span class="btn btn-primary">Submit</span>
        </div>
      </div>
    </div>
  </div>
</div>
